* {
    margin: 0;
    padding: 0;
}

#main {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    padding: 50px;
    background-color: antiquewhite;
}

p {
    margin-bottom: 20px;
}

button {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

b {
    margin-left: 5px;
}

#finish {
    display: none;
}



